/* styles for laisGeneration */

* {
	font-family: Helvetica, sans-serif;
}

#aboutCopy {
	margin-bottom: 5em;
}

.mainContainer {
	width: 100%;
	max-width: 800px;
	display: block;
	margin: auto;
}

#lai {
	text-align: center;
}