/* styles for laisGeneration */

* {
	font-family: 'Slabo 27px', serif;
}

.mainContainer {
	width: 100%;
	max-width: 700px;
	display: block;
	margin: auto;
}


.centerImg {
	display: block;
	margin: auto;
}

.instructions {
	text-align: center;
}

.sliders {
	width: auto;
	display: block;
	margin: auto;
	text-align: center;
}

input[type=submit] {
    background: url(images/go.jpg);
    border: 0;
    display: block;
    margin: auto;
    height: 100px;
    width: 85px;
}

#lai {
	text-align: center;
}

#aboutHead {
	cursor: pointer;
	width: 150px;
	display: block;
	margin: auto;
}

#aboutCopy {
	margin-bottom: 5em;
	text-align: center;
}

#footer {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 2em;
	font-style: italic;
	font-size: .9em;
}

#footer img {
	height: 2em;
	padding: 2em;
	padding-top: 1em;
}

#footer a:hover {
	background-color: white;
}